<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
    <head>
        <title th:text="'Recipes list'"></title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="container pt-5">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <div class="row">
                            <div class="col" th:text="'Recipe list'"></div>
                            <div class="col text-right">
                                <a href="#"
                                   class="btn btn-light btn-sm"
                                   role="button"
                                   th:href="@{'/recipe/create'}"
                                >
                                    <span th:text="'Create'"></span>
                                    <i class="fa fa-plus ml-2"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Description</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="recipe : ${recipes}">
                                    <td th:text="${recipe.id}"></td>
                                    <td th:text="${recipe.description}"></td>
                                    <td>
                                        <a href="#"
                                           th:href="@{'/recipe/' + ${recipe.id}}"
                                           th:text="'View'"
                                        ></a>
                                        <a href="#"
                                           th:href="@{'/recipe/' + ${recipe.id} + '/edit'}"
                                           th:text="'Edit'"
                                        ></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>